html , *{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     box-sizing: border-box;
}

img{
    width: 20px;
    height: 20px;
}

input{
    height: 20px;
    width: 30vw;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    border: 0px solid white;
    margin-left: 1vw;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.container div{
    border: 0px solid black;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #06b6d4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    color: white;
    box-sizing: border-box;
}

.dtitle{
    grid-area: 1/1/2/2;
    font-size: larger;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
}

.dmenu{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: 1fr;
    overflow: hidden;
}

.dmenu div{
    padding-left: 2vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}

.dmenu div :first-child{
    margin-right: 1vw;
}

svg{
    width: 20px;
    height: 20px;
    fill: white;
}

#dsvg{
    width: 30px;
    height: 30px;
}


.header{
    grid-area: 1/2/2/4;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr 2fr;
    margin-bottom: 30px;
}

.search-bar{
    grid-area: 1/1/2/3;
    padding-left: 4vw;
    padding-top: 1vh;
    display: flex;
    justify-content:flex-start;
    box-sizing: border-box;
}

button{
    width: 7vw;
    height: 3vw;
    background-color: #0ea5e9;
    border: 0px solid black;
    border-radius: 50px ;
    color: white;
    margin-left: 1vw;
    font-size: 1vw;
}


.user-greetings{
    grid-area: 2/1/3/2;
    padding-top: 15px;
    padding-left: 7vw;
    font-size: 14px;
}

p{
    font-weight: bold;
    font-size: 20px;
}

.buttons{
    grid-area: 2/2/3/3;
    padding-top: 2vh;
    display: flex;
    padding-left: 2vw;
    box-sizing: border-box;
    justify-content: center ;
}

.main-content{
    padding-top: 20px ;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 30px 1fr 1fr;
    background-color: rgb(224, 224, 224);
}

.projects{
    grid-area: 2/1/4/2;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 1vw;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: clamp(90%,200px,97%);
    height: 150px ;   
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: yellowgreen;
}

#title{
    height: 20%;
}

#content{
    background-color: white;
    padding-left: 10px;
}

#p-title{
    padding-left: 1vw;
}

.announce{
    display: grid;
    grid-area: 1/2/3/3;
    padding-left: 2vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}

#a-title{
    grid-area: 1/1/2/2;
}

#a-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 1vh;
    background-color: white;
    grid-area: 2/1/3/2;
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

#a-container div{
    display: flex;
    flex-direction: column  ;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-left: 10px;
    padding-right: 10px;
}

.trends{
    padding-left: 2vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}

#t-container{
    grid-row: 2/3;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.trends p{
    grid-row: 1/2;
    
}

#t-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}